<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>BuildMachineOSBuild</key>
	<string>13E28</string>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleExecutable</key>
	<string>BluetoothDevInfo</string>
	<key>CFBundleIdentifier</key>
	<string>org.emlydinesh.injector.BluetoothDevInfo</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>BluetoothDevInfo</string>
	<key>CFBundlePackageType</key>
	<string>KEXT</string>
	<key>CFBundleShortVersionString</key>
	<string>1.2</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>1.2</string>
	<key>DTCompiler</key>
	<string>com.apple.compilers.llvmgcc42</string>
	<key>DTPlatformBuild</key>
	<string>4H1503</string>
	<key>DTPlatformVersion</key>
	<string>GM</string>
	<key>DTSDKBuild</key>
	<string>11E52</string>
	<key>DTSDKName</key>
	<string>macosx10.7</string>
	<key>DTXcode</key>
	<string>0463</string>
	<key>DTXcodeBuild</key>
	<string>4H1503</string>
	<key>IOKitPersonalities</key>
	<dict>
		<key>AppleBroadcomBTUSBController_0223</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.apple.iokit.BroadcomBluetoothHostControllerUSBTransport</string>
			<key>IOClass</key>
			<string>BroadcomBluetoothHostControllerUSBTransport</string>
			<key>IOProviderClass</key>
			<string>IOUSBDevice</string>
			<key>LMPLoggingEnabled</key>
			<false/>
			<key>idProduct</key>
			<integer>547</integer>
			<key>idVendor</key>
			<integer>2352</integer>
		</dict>
		<key>AppleBroadcomBTUSBController_17cb</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.apple.iokit.BroadcomBluetoothHostControllerUSBTransport</string>
			<key>IOClass</key>
			<string>BroadcomBluetoothHostControllerUSBTransport</string>
			<key>IOProviderClass</key>
			<string>IOUSBDevice</string>
			<key>LMPLoggingEnabled</key>
			<false/>
			<key>idProduct</key>
			<integer>6091</integer>
			<key>idVendor</key>
			<integer>2821</integer>
		</dict>
		<key>AppleBroadcomBTUSBController_17cf</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.apple.iokit.BroadcomBluetoothHostControllerUSBTransport</string>
			<key>IOClass</key>
			<string>BroadcomBluetoothHostControllerUSBTransport</string>
			<key>IOProviderClass</key>
			<string>IOUSBDevice</string>
			<key>LMPLoggingEnabled</key>
			<false/>
			<key>idProduct</key>
			<integer>6095</integer>
			<key>idVendor</key>
			<integer>2821</integer>
		</dict>
		<key>AppleBroadcomBTUSBController_200A</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.apple.iokit.BroadcomBluetoothHostControllerUSBTransport</string>
			<key>IOClass</key>
			<string>BroadcomBluetoothHostControllerUSBTransport</string>
			<key>IOProviderClass</key>
			<string>IOUSBDevice</string>
			<key>LMPLoggingEnabled</key>
			<false/>
			<key>idProduct</key>
			<integer>8202</integer>
			<key>idVendor</key>
			<integer>1226</integer>
		</dict>
		<key>AppleBroadcomBTUSBController_200B</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.apple.iokit.BroadcomBluetoothHostControllerUSBTransport</string>
			<key>IOClass</key>
			<string>BroadcomBluetoothHostControllerUSBTransport</string>
			<key>IOProviderClass</key>
			<string>IOUSBDevice</string>
			<key>LMPLoggingEnabled</key>
			<false/>
			<key>idProduct</key>
			<integer>8203</integer>
			<key>idVendor</key>
			<integer>1226</integer>
		</dict>
		<key>AppleBroadcomBTUSBController_200C</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.apple.iokit.BroadcomBluetoothHostControllerUSBTransport</string>
			<key>IOClass</key>
			<string>BroadcomBluetoothHostControllerUSBTransport</string>
			<key>IOProviderClass</key>
			<string>IOUSBDevice</string>
			<key>LMPLoggingEnabled</key>
			<false/>
			<key>idProduct</key>
			<integer>8204</integer>
			<key>idVendor</key>
			<integer>1226</integer>
		</dict>
		<key>AppleBroadcomBTUSBController_21E1</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.apple.iokit.BroadcomBluetoothHostControllerUSBTransport</string>
			<key>IOClass</key>
			<string>BroadcomBluetoothHostControllerUSBTransport</string>
			<key>IOProviderClass</key>
			<string>IOUSBDevice</string>
			<key>LMPLoggingEnabled</key>
			<false/>
			<key>idProduct</key>
			<integer>8673</integer>
			<key>idVendor</key>
			<integer>2652</integer>
		</dict>
		<key>AppleBroadcomBTUSBController_21E3</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.apple.iokit.BroadcomBluetoothHostControllerUSBTransport</string>
			<key>IOClass</key>
			<string>BroadcomBluetoothHostControllerUSBTransport</string>
			<key>IOProviderClass</key>
			<string>IOUSBDevice</string>
			<key>LMPLoggingEnabled</key>
			<false/>
			<key>idProduct</key>
			<integer>8675</integer>
			<key>idVendor</key>
			<integer>2652</integer>
		</dict>
		<key>AppleBroadcomBTUSBController_21FB</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.apple.iokit.BroadcomBluetoothHostControllerUSBTransport</string>
			<key>IOClass</key>
			<string>BroadcomBluetoothHostControllerUSBTransport</string>
			<key>IOProviderClass</key>
			<string>IOUSBDevice</string>
			<key>LMPLoggingEnabled</key>
			<false/>
			<key>idProduct</key>
			<integer>8699</integer>
			<key>idVendor</key>
			<integer>2652</integer>
		</dict>
		<key>AppleBroadcomBTUSBController_3404</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.apple.iokit.BroadcomBluetoothHostControllerUSBTransport</string>
			<key>IOClass</key>
			<string>BroadcomBluetoothHostControllerUSBTransport</string>
			<key>IOProviderClass</key>
			<string>IOUSBDevice</string>
			<key>LMPLoggingEnabled</key>
			<false/>
			<key>idProduct</key>
			<integer>13316</integer>
			<key>idVendor</key>
			<integer>5075</integer>
		</dict>
		<key>AppleBroadcomBTUSBController_3411</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.apple.iokit.BroadcomBluetoothHostControllerUSBTransport</string>
			<key>IOClass</key>
			<string>BroadcomBluetoothHostControllerUSBTransport</string>
			<key>IOProviderClass</key>
			<string>IOUSBDevice</string>
			<key>LMPLoggingEnabled</key>
			<false/>
			<key>idProduct</key>
			<integer>13329</integer>
			<key>idVendor</key>
			<integer>5075</integer>
		</dict>
		<key>AppleBroadcomBTUSBController_8143</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.apple.iokit.BroadcomBluetoothHostControllerUSBTransport</string>
			<key>IOClass</key>
			<string>BroadcomBluetoothHostControllerUSBTransport</string>
			<key>IOProviderClass</key>
			<string>IOUSBDevice</string>
			<key>LMPLoggingEnabled</key>
			<false/>
			<key>idProduct</key>
			<integer>33091</integer>
			<key>idVendor</key>
			<integer>16700</integer>
		</dict>
		<key>Info - AR3011</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.apple.driver.AppleUSBMergeNub</string>
			<key>IOClass</key>
			<string>AppleUSBMergeNub</string>
			<key>IOProviderClass</key>
			<string>IOUSBDevice</string>
			<key>IOProviderMergeProperties</key>
			<dict>
				<key>USB Product Name</key>
				<string>Atheros USB AR3011 Bluetooth 3.0 Controller</string>
			</dict>
			<key>idProduct</key>
			<integer>13060</integer>
			<key>idVendor</key>
			<integer>5075</integer>
		</dict>
		<key>Info - AR3012</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.apple.driver.AppleUSBMergeNub</string>
			<key>IOClass</key>
			<string>AppleUSBMergeNub</string>
			<key>IOProviderClass</key>
			<string>IOUSBDevice</string>
			<key>IOProviderMergeProperties</key>
			<dict>
				<key>USB Product Name</key>
				<string>Atheros USB AR3012 Bluetooth 4.0 Controller</string>
			</dict>
			<key>idProduct</key>
			<integer>13154</integer>
			<key>idVendor</key>
			<integer>5075</integer>
		</dict>
		<key>Info- BCM - Asus-BCM4352</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.apple.driver.AppleUSBMergeNub</string>
			<key>IOClass</key>
			<string>AppleUSBMergeNub</string>
			<key>IOProviderClass</key>
			<string>IOUSBDevice</string>
			<key>IOProviderMergeProperties</key>
			<dict>
				<key>USB Product Name</key>
				<string>Broadcom USB Bluetooth 4.0 Controller (Asus BCM4352 BT)</string>
			</dict>
			<key>idProduct</key>
			<integer>6095</integer>
			<key>idVendor</key>
			<integer>2821</integer>
		</dict>
		<key>Info- BCM - Asus-BT400</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.apple.driver.AppleUSBMergeNub</string>
			<key>IOClass</key>
			<string>AppleUSBMergeNub</string>
			<key>IOProviderClass</key>
			<string>IOUSBDevice</string>
			<key>IOProviderMergeProperties</key>
			<dict>
				<key>USB Product Name</key>
				<string>Broadcom USB Bluetooth 4.0 Controller (Asus BT400)</string>
				<key>idVendor</key>
				<integer>5075</integer>
			</dict>
			<key>idProduct</key>
			<integer>6091</integer>
			<key>idVendor</key>
			<integer>2821</integer>
		</dict>
		<key>Info- BCM - Dell-DW1550</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.apple.driver.AppleUSBMergeNub</string>
			<key>IOClass</key>
			<string>AppleUSBMergeNub</string>
			<key>IOProviderClass</key>
			<string>IOUSBDevice</string>
			<key>IOProviderMergeProperties</key>
			<dict>
				<key>USB Product Name</key>
				<string>Broadcom USB Bluetooth 4.0 Controller (Dell DW1550)</string>
			</dict>
			<key>idProduct</key>
			<integer>33091</integer>
			<key>idVendor</key>
			<integer>16700</integer>
		</dict>
		<key>Info- BCM - LiteOn-BCM4352 - 200A</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.apple.driver.AppleUSBMergeNub</string>
			<key>IOClass</key>
			<string>AppleUSBMergeNub</string>
			<key>IOProviderClass</key>
			<string>IOUSBDevice</string>
			<key>IOProviderMergeProperties</key>
			<dict>
				<key>USB Product Name</key>
				<string>Broadcom USB Bluetooth 4.0 Controller (LiteOn BCM4352 BT)</string>
			</dict>
			<key>idProduct</key>
			<integer>8202</integer>
			<key>idVendor</key>
			<integer>1226</integer>
		</dict>
		<key>Info- BCM - LiteOn-BCM4352 - 200B</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.apple.driver.AppleUSBMergeNub</string>
			<key>IOClass</key>
			<string>AppleUSBMergeNub</string>
			<key>IOProviderClass</key>
			<string>IOUSBDevice</string>
			<key>IOProviderMergeProperties</key>
			<dict>
				<key>USB Product Name</key>
				<string>Broadcom USB Bluetooth 4.0 Controller (LiteOn BCM4352 BT)</string>
			</dict>
			<key>idProduct</key>
			<integer>8203</integer>
			<key>idVendor</key>
			<integer>1226</integer>
		</dict>
		<key>Info- BCM - LiteOn-BCM4352 - 200C</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.apple.driver.AppleUSBMergeNub</string>
			<key>IOClass</key>
			<string>AppleUSBMergeNub</string>
			<key>IOProviderClass</key>
			<string>IOUSBDevice</string>
			<key>IOProviderMergeProperties</key>
			<dict>
				<key>USB Product Name</key>
				<string>Broadcom USB Bluetooth 4.0 Controller (LiteOn BCM4352 BT)</string>
			</dict>
			<key>idProduct</key>
			<integer>8204</integer>
			<key>idVendor</key>
			<integer>1226</integer>
		</dict>
		<key>Info- BCM-AzureWave-CE123H</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.apple.driver.AppleUSBMergeNub</string>
			<key>IOClass</key>
			<string>AppleUSBMergeNub</string>
			<key>IOProviderClass</key>
			<string>IOUSBDevice</string>
			<key>IOProviderMergeProperties</key>
			<dict>
				<key>USB Product Name</key>
				<string>Broadcom USB Bluetooth 4.0 Controller (AzureWave CE123H)</string>
				<key>idProduct</key>
				<integer>13316</integer>
				<key>idVendor</key>
				<integer>5075</integer>
			</dict>
			<key>idProduct</key>
			<integer>13316</integer>
			<key>idVendor</key>
			<integer>5075</integer>
		</dict>
		<key>Info- BCM-Dell-AW BCM4352</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.apple.driver.AppleUSBMergeNub</string>
			<key>IOClass</key>
			<string>AppleUSBMergeNub</string>
			<key>IOProviderClass</key>
			<string>IOUSBDevice</string>
			<key>IOProviderMergeProperties</key>
			<dict>
				<key>USB Product Name</key>
				<string>Broadcom USB Bluetooth 4.0 Controller (Dell Alienware BCM4352)</string>
				<key>idProduct</key>
				<integer>13329</integer>
				<key>idVendor</key>
				<integer>5075</integer>
			</dict>
			<key>idProduct</key>
			<integer>13329</integer>
			<key>idVendor</key>
			<integer>5075</integer>
		</dict>
		<key>Info- BCM-Toshiba-4352</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.apple.driver.AppleUSBMergeNub</string>
			<key>IOClass</key>
			<string>AppleUSBMergeNub</string>
			<key>IOProviderClass</key>
			<string>IOUSBDevice</string>
			<key>IOProviderMergeProperties</key>
			<dict>
				<key>USB Product Name</key>
				<string>Broadcom USB Bluetooth 4.0 Controller (Toshiba 4352 Combo)</string>
				<key>idProduct</key>
				<integer>547</integer>
				<key>idVendor</key>
				<integer>2352</integer>
			</dict>
			<key>idProduct</key>
			<integer>547</integer>
			<key>idVendor</key>
			<integer>2352</integer>
		</dict>
	</dict>
	<key>NSHumanReadableCopyright</key>
	<string>Copyright © 2014 EMlyDinEsH(OSXLatitude).</string>
	<key>OSBundleRequired</key>
	<string>Safe Boot</string>
</dict>
</plist>
