<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>BuildMachineOSBuild</key>
	<string>13E28</string>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleExecutable</key>
	<string>BTFirmwareUploader</string>
	<key>CFBundleIdentifier</key>
	<string>org.emlydinesh.driver.BTFirmwareUploader</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>BTFirmwareUploader</string>
	<key>CFBundlePackageType</key>
	<string>KEXT</string>
	<key>CFBundleShortVersionString</key>
	<string>2.5.2</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>2.5.2</string>
	<key>DTCompiler</key>
	<string></string>
	<key>DTPlatformBuild</key>
	<string>4H1503</string>
	<key>DTPlatformVersion</key>
	<string>GM</string>
	<key>DTSDKBuild</key>
	<string>11E52</string>
	<key>DTSDKName</key>
	<string>macosx10.7</string>
	<key>DTXcode</key>
	<string>0463</string>
	<key>DTXcodeBuild</key>
	<string>4H1503</string>
	<key>IOKitPersonalities</key>
	<dict>
		<key>Atheros-AR3011-0215 -0930</key>
		<dict>
			<key>BTController</key>
			<string>AR3011</string>
			<key>CFBundleIdentifier</key>
			<string>org.emlydinesh.driver.BTFirmwareUploader</string>
			<key>IOClass</key>
			<string>BTFirmwareUploader</string>
			<key>IOProviderClass</key>
			<string>IOUSBDevice</string>
			<key>Use Linux fw</key>
			<false/>
			<key>Windows fw</key>
			<integer>2</integer>
			<key>idProduct</key>
			<integer>533</integer>
			<key>idVendor</key>
			<integer>2352</integer>
		</dict>
		<key>Atheros-AR3011-179c-b05</key>
		<dict>
			<key>BTController</key>
			<string>AR3011</string>
			<key>CFBundleIdentifier</key>
			<string>org.emlydinesh.driver.BTFirmwareUploader</string>
			<key>IOClass</key>
			<string>BTFirmwareUploader</string>
			<key>IOProviderClass</key>
			<string>IOUSBDevice</string>
			<key>Pipe OUT</key>
			<integer>0</integer>
			<key>Use Linux fw</key>
			<false/>
			<key>Windows fw</key>
			<integer>2</integer>
			<key>idProduct</key>
			<integer>6044</integer>
			<key>idVendor</key>
			<integer>2821</integer>
		</dict>
		<key>Atheros-AR3011-3000-0cf3</key>
		<dict>
			<key>BTController</key>
			<string>AR3011</string>
			<key>CFBundleIdentifier</key>
			<string>org.emlydinesh.driver.BTFirmwareUploader</string>
			<key>IOClass</key>
			<string>BTFirmwareUploader</string>
			<key>IOProviderClass</key>
			<string>IOUSBDevice</string>
			<key>Pipe OUT</key>
			<integer>0</integer>
			<key>Use Linux fw</key>
			<false/>
			<key>Windows fw</key>
			<integer>2</integer>
			<key>idProduct</key>
			<integer>12288</integer>
			<key>idVendor</key>
			<integer>3315</integer>
		</dict>
		<key>Atheros-AR3011-3002-0cf3</key>
		<dict>
			<key>BTController</key>
			<string>AR3011</string>
			<key>CFBundleIdentifier</key>
			<string>org.emlydinesh.driver.BTFirmwareUploader</string>
			<key>IOClass</key>
			<string>BTFirmwareUploader</string>
			<key>IOProviderClass</key>
			<string>IOUSBDevice</string>
			<key>Use Linux fw</key>
			<false/>
			<key>Windows fw</key>
			<integer>2</integer>
			<key>idProduct</key>
			<integer>12290</integer>
			<key>idVendor</key>
			<integer>3315</integer>
		</dict>
		<key>Atheros-AR3011-3005-0cf3</key>
		<dict>
			<key>BTController</key>
			<string>AR3011</string>
			<key>CFBundleIdentifier</key>
			<string>org.emlydinesh.driver.BTFirmwareUploader</string>
			<key>IOClass</key>
			<string>BTFirmwareUploader</string>
			<key>IOProviderClass</key>
			<string>IOUSBDevice</string>
			<key>Use Linux fw</key>
			<false/>
			<key>Windows fw</key>
			<integer>2</integer>
			<key>idProduct</key>
			<integer>12293</integer>
			<key>idVendor</key>
			<integer>3315</integer>
		</dict>
		<key>Atheros-AR3011-311d-03f0 </key>
		<dict>
			<key>BTController</key>
			<string>AR3011</string>
			<key>CFBundleIdentifier</key>
			<string>org.emlydinesh.driver.BTFirmwareUploader</string>
			<key>IOClass</key>
			<string>BTFirmwareUploader</string>
			<key>IOProviderClass</key>
			<string>IOUSBDevice</string>
			<key>Use Linux fw</key>
			<true/>
			<key>Windows fw</key>
			<integer>2</integer>
			<key>idProduct</key>
			<integer>12573</integer>
			<key>idVendor</key>
			<integer>1008</integer>
		</dict>
		<key>Atheros-AR3011-3304-13d3</key>
		<dict>
			<key>BTController</key>
			<string>AR3011</string>
			<key>CFBundleIdentifier</key>
			<string>org.emlydinesh.driver.BTFirmwareUploader</string>
			<key>IOClass</key>
			<string>BTFirmwareUploader</string>
			<key>IOProviderClass</key>
			<string>IOUSBDevice</string>
			<key>Use Linux fw</key>
			<false/>
			<key>Windows fw</key>
			<integer>2</integer>
			<key>idProduct</key>
			<integer>13060</integer>
			<key>idVendor</key>
			<integer>5075</integer>
		</dict>
		<key>Atheros-AR3011-e027-0489</key>
		<dict>
			<key>BTController</key>
			<string>AR3011</string>
			<key>CFBundleIdentifier</key>
			<string>org.emlydinesh.driver.BTFirmwareUploader</string>
			<key>IOClass</key>
			<string>BTFirmwareUploader</string>
			<key>IOProviderClass</key>
			<string>IOUSBDevice</string>
			<key>Use Linux fw</key>
			<false/>
			<key>Windows fw</key>
			<integer>2</integer>
			<key>idProduct</key>
			<integer>57383</integer>
			<key>idVendor</key>
			<integer>1161</integer>
		</dict>
		<key>Atheros-AR3012-3005-04ca</key>
		<dict>
			<key>BTController</key>
			<string>AR3012</string>
			<key>CFBundleIdentifier</key>
			<string>org.emlydinesh.driver.BTFirmwareUploader</string>
			<key>IOClass</key>
			<string>BTFirmwareUploader</string>
			<key>IOProviderClass</key>
			<string>IOUSBDevice</string>
			<key>Use Linux fw</key>
			<true/>
			<key>idProduct</key>
			<integer>12293</integer>
			<key>idVendor</key>
			<integer>1226</integer>
		</dict>
		<key>Atheros-AR3012-311d-0cf3</key>
		<dict>
			<key>BTController</key>
			<string>AR3012</string>
			<key>CFBundleIdentifier</key>
			<string>org.emlydinesh.driver.BTFirmwareUploader</string>
			<key>IOClass</key>
			<string>BTFirmwareUploader</string>
			<key>IOProviderClass</key>
			<string>IOUSBDevice</string>
			<key>Use Linux fw</key>
			<true/>
			<key>idProduct</key>
			<integer>12573</integer>
			<key>idVendor</key>
			<integer>3315</integer>
		</dict>
		<key>Atheros-AR3012-3362-13d3</key>
		<dict>
			<key>BTController</key>
			<string>AR3012</string>
			<key>CFBundleIdentifier</key>
			<string>org.emlydinesh.driver.BTFirmwareUploader</string>
			<key>IOClass</key>
			<string>BTFirmwareUploader</string>
			<key>IOProviderClass</key>
			<string>IOUSBDevice</string>
			<key>Use Linux fw</key>
			<true/>
			<key>idProduct</key>
			<integer>13154</integer>
			<key>idVendor</key>
			<integer>5075</integer>
		</dict>
		<key>Atheros-AR3012-e004-0cf3</key>
		<dict>
			<key>BTController</key>
			<string>AR3012</string>
			<key>CFBundleIdentifier</key>
			<string>org.emlydinesh.driver.BTFirmwareUploader</string>
			<key>IOClass</key>
			<string>BTFirmwareUploader</string>
			<key>IOProviderClass</key>
			<string>IOUSBDevice</string>
			<key>Use Linux fw</key>
			<true/>
			<key>idProduct</key>
			<integer>57348</integer>
			<key>idVendor</key>
			<integer>3315</integer>
		</dict>
		<key>Atheros-AR3012-e056-489</key>
		<dict>
			<key>BTController</key>
			<string>AR3012</string>
			<key>CFBundleIdentifier</key>
			<string>org.emlydinesh.driver.BTFirmwareUploader</string>
			<key>IOClass</key>
			<string>BTFirmwareUploader</string>
			<key>IOProviderClass</key>
			<string>IOUSBDevice</string>
			<key>Use Linux fw</key>
			<true/>
			<key>idProduct</key>
			<integer>57430</integer>
			<key>idVendor</key>
			<integer>1161</integer>
		</dict>
		<key>BCM-AZWave-CE123H-3404-13d3</key>
		<dict>
			<key>BTController</key>
			<string>BCM</string>
			<key>CFBundleIdentifier</key>
			<string>org.emlydinesh.driver.BTFirmwareUploader</string>
			<key>Firmware</key>
			<integer>0</integer>
			<key>IOClass</key>
			<string>BTFirmwareUploader</string>
			<key>IOProviderClass</key>
			<string>IOUSBDevice</string>
			<key>UpdFwAfterSleep</key>
			<true/>
			<key>UseStandaloneFw</key>
			<false/>
			<key>idProduct</key>
			<integer>13316</integer>
			<key>idVendor</key>
			<integer>5075</integer>
		</dict>
		<key>BCM-Asus-BCM4352-BT-17cf-b05 </key>
		<dict>
			<key>BTController</key>
			<string>BCM</string>
			<key>CFBundleIdentifier</key>
			<string>org.emlydinesh.driver.BTFirmwareUploader</string>
			<key>Firmware</key>
			<integer>0</integer>
			<key>IOClass</key>
			<string>BTFirmwareUploader</string>
			<key>IOProviderClass</key>
			<string>IOUSBDevice</string>
			<key>UpdFwAfterSleep</key>
			<true/>
			<key>UseStandaloneFw</key>
			<false/>
			<key>idProduct</key>
			<integer>6095</integer>
			<key>idVendor</key>
			<integer>2821</integer>
		</dict>
		<key>BCM-Asus-BT400-BT-17cb-0b05</key>
		<dict>
			<key>BTController</key>
			<string>BCM</string>
			<key>CFBundleIdentifier</key>
			<string>org.emlydinesh.driver.BTFirmwareUploader</string>
			<key>Firmware</key>
			<integer>0</integer>
			<key>IOClass</key>
			<string>BTFirmwareUploader</string>
			<key>IOProviderClass</key>
			<string>IOUSBDevice</string>
			<key>UpdFwAfterSleep</key>
			<true/>
			<key>UseStandaloneFw</key>
			<true/>
			<key>idProduct</key>
			<integer>6091</integer>
			<key>idVendor</key>
			<integer>2821</integer>
		</dict>
		<key>BCM-Dell-AW BCM4352-3411-13d3</key>
		<dict>
			<key>BTController</key>
			<string>BCM</string>
			<key>CFBundleIdentifier</key>
			<string>org.emlydinesh.driver.BTFirmwareUploader</string>
			<key>Firmware</key>
			<integer>0</integer>
			<key>IOClass</key>
			<string>BTFirmwareUploader</string>
			<key>IOProviderClass</key>
			<string>IOUSBDevice</string>
			<key>UpdFwAfterSleep</key>
			<true/>
			<key>UseStandaloneFw</key>
			<false/>
			<key>idProduct</key>
			<integer>13329</integer>
			<key>idVendor</key>
			<integer>5075</integer>
		</dict>
		<key>BCM-Dell-DW1550-BT-8143-413c</key>
		<dict>
			<key>BTController</key>
			<string>BCM</string>
			<key>CFBundleIdentifier</key>
			<string>org.emlydinesh.driver.BTFirmwareUploader</string>
			<key>Firmware</key>
			<integer>0</integer>
			<key>IOClass</key>
			<string>BTFirmwareUploader</string>
			<key>IOProviderClass</key>
			<string>IOUSBDevice</string>
			<key>UpdFwAfterSleep</key>
			<true/>
			<key>UseStandaloneFw</key>
			<false/>
			<key>idProduct</key>
			<integer>33091</integer>
			<key>idVendor</key>
			<integer>16700</integer>
		</dict>
		<key>BCM-HP-BCM1043-BT-21E1-0A5C</key>
		<dict>
			<key>BTController</key>
			<string>BCM</string>
			<key>CFBundleIdentifier</key>
			<string>org.emlydinesh.driver.BTFirmwareUploader</string>
			<key>Firmware</key>
			<integer>0</integer>
			<key>IOClass</key>
			<string>BTFirmwareUploader</string>
			<key>IOProviderClass</key>
			<string>IOUSBDevice</string>
			<key>UpdFwAfterSleep</key>
			<true/>
			<key>UseStandaloneFw</key>
			<true/>
			<key>idProduct</key>
			<integer>8673</integer>
			<key>idVendor</key>
			<integer>2652</integer>
		</dict>
		<key>BCM-HP-BCM4313-BT-21E3-0A5C</key>
		<dict>
			<key>BTController</key>
			<string>BCM</string>
			<key>CFBundleIdentifier</key>
			<string>org.emlydinesh.driver.BTFirmwareUploader</string>
			<key>Firmware</key>
			<integer>0</integer>
			<key>IOClass</key>
			<string>BTFirmwareUploader</string>
			<key>IOProviderClass</key>
			<string>IOUSBDevice</string>
			<key>UpdFwAfterSleep</key>
			<true/>
			<key>UseStandaloneFw</key>
			<false/>
			<key>idProduct</key>
			<integer>8675</integer>
			<key>idVendor</key>
			<integer>2652</integer>
		</dict>
		<key>BCM-HP-BCM4352-21FB-0A5C</key>
		<dict>
			<key>BTController</key>
			<string>BCM</string>
			<key>CFBundleIdentifier</key>
			<string>org.emlydinesh.driver.BTFirmwareUploader</string>
			<key>Firmware</key>
			<integer>0</integer>
			<key>IOClass</key>
			<string>BTFirmwareUploader</string>
			<key>IOProviderClass</key>
			<string>IOUSBDevice</string>
			<key>UpdFwAfterSleep</key>
			<true/>
			<key>UseStandaloneFw</key>
			<false/>
			<key>idProduct</key>
			<integer>8699</integer>
			<key>idVendor</key>
			<integer>2652</integer>
		</dict>
		<key>BCM-LiteOn-BCM4352-200A-0c4a</key>
		<dict>
			<key>BTController</key>
			<string>BCM</string>
			<key>CFBundleIdentifier</key>
			<string>org.emlydinesh.driver.BTFirmwareUploader</string>
			<key>Firmware</key>
			<integer>0</integer>
			<key>IOClass</key>
			<string>BTFirmwareUploader</string>
			<key>IOProviderClass</key>
			<string>IOUSBDevice</string>
			<key>UpdFwAfterSleep</key>
			<true/>
			<key>UseStandaloneFw</key>
			<false/>
			<key>idProduct</key>
			<integer>8202</integer>
			<key>idVendor</key>
			<integer>1226</integer>
		</dict>
		<key>BCM-LiteOn-BCM4352-200B-0c4a</key>
		<dict>
			<key>BTController</key>
			<string>BCM</string>
			<key>CFBundleIdentifier</key>
			<string>org.emlydinesh.driver.BTFirmwareUploader</string>
			<key>Firmware</key>
			<integer>0</integer>
			<key>IOClass</key>
			<string>BTFirmwareUploader</string>
			<key>IOProviderClass</key>
			<string>IOUSBDevice</string>
			<key>UpdFwAfterSleep</key>
			<true/>
			<key>UseStandaloneFw</key>
			<false/>
			<key>idProduct</key>
			<integer>8203</integer>
			<key>idVendor</key>
			<integer>1226</integer>
		</dict>
		<key>BCM-LiteOn-BCM4352-200C-0c4a </key>
		<dict>
			<key>BTController</key>
			<string>BCM</string>
			<key>CFBundleIdentifier</key>
			<string>org.emlydinesh.driver.BTFirmwareUploader</string>
			<key>Firmware</key>
			<integer>0</integer>
			<key>IOClass</key>
			<string>BTFirmwareUploader</string>
			<key>IOProviderClass</key>
			<string>IOUSBDevice</string>
			<key>UpdFwAfterSleep</key>
			<true/>
			<key>UseStandaloneFw</key>
			<false/>
			<key>idProduct</key>
			<integer>8204</integer>
			<key>idVendor</key>
			<integer>1226</integer>
		</dict>
		<key>BCM-Toshiba-4352-0223-0930</key>
		<dict>
			<key>BTController</key>
			<string>BCM</string>
			<key>CFBundleIdentifier</key>
			<string>org.emlydinesh.driver.BTFirmwareUploader</string>
			<key>Firmware</key>
			<integer>0</integer>
			<key>IOClass</key>
			<string>BTFirmwareUploader</string>
			<key>IOProviderClass</key>
			<string>IOUSBDevice</string>
			<key>UpdFwAfterSleep</key>
			<true/>
			<key>UseStandaloneFw</key>
			<false/>
			<key>idProduct</key>
			<integer>547</integer>
			<key>idVendor</key>
			<integer>2352</integer>
		</dict>
	</dict>
	<key>NSHumanReadableCopyright</key>
	<string>Copyright © 2012-2014 EMlyDinEsH(OSXLatitude).</string>
	<key>OSBundleLibraries</key>
	<dict>
		<key>com.apple.iokit.IOUSBFamily</key>
		<string>4.4.0</string>
		<key>com.apple.kpi.iokit</key>
		<string>11.0.0</string>
		<key>com.apple.kpi.libkern</key>
		<string>11.0.0</string>
		<key>com.apple.kpi.mach</key>
		<string>11.0.0</string>
	</dict>
	<key>OSBundleRequired</key>
	<string>Root</string>
</dict>
</plist>
